<% layout('layouts/boilerplate') %>
    <h1>All Rental Location</h1>
    <a href="/rentloc/new">Add Rental Location</a>
    <ul>
        <% for(let loc of rentLoc){%>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%=loc.image%>" alt="">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title"><%=loc.title%></h5>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=loc.description %>
                            </small>
                            <a href="/rentloc/<%=loc._id%>" class="btn btn-primary">View <%=loc.title%></a>
                        </p>
                    </div>
                </div>
            </div>
        <% } %>
    </ul>
