<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 <script src="/javascripts/rentIt.js"></script>

<div class="col-12">
  <div class="container" style="min-height: 80vh">
    <div class="p-4 rounded shadow bg-light">
      <h2 class="text-center mb-4 text-primary fw-bold">Rent-IT</h2>
      <form action="/rentloc/<%= rentPlace.id %>/rent-it/<%=currentUser._id%>" method="POST" class="" >
        <div class="mb-3">
          <label class="form-label fw-semibold" for="username">Username</label>
          <input
            class="form-control"
            type="text"
            id="username"
            name="username"
            placeholder="Choose a username"
            required
            readonly
            value=<%=currentUser.username%>
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold" for="email">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            readonly
            value=<%=currentUser.email%>
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold" for="idProof">ID Proof</label>
          <input
            class="form-control"
            type="number"
            id="idProof"
            name="idProof"
            required
            placeholder="Enter any valid ID number"
          />
        </div>

        <div class="d-flex flex-row gap-4 mb-3">
          <div class="d-flex flex-column" style="width: 50%;">
             <label class="form-label fw-semibold" for="From">From:</label>
            <input
              class="form-control"
              type="text"
              id="from"
              name="From"
              data-min-date="<%= JSON.stringify(bookingDates.minDate)%>"
              data-max-date="<%= JSON.stringify(bookingDates.maxDate)%>"
              placeholder="YYY-MM-DD"
              readonly
              required
            />
          </div>
  
          <div class="d-flex flex-column" style="width: 50%;">
            <label class="form-label fw-semibold" for="To">To:</label>
            <input
              class="form-control"
              type="text"
              id="To"
              name="To"
              data-rent-price="<%= JSON.stringify(rentPlace.price) %>"
              placeholder="YYY-MM-DD"
              readonly
              required
            />
          </div>
        </div>

      <div class="mb-3">
        <div class="input-group">
          <input
            type="number"
            min="0"
            step="0.01"
            id="rentPrice"
            class="form-control input-group-text text-success fw-bold"
            placeholder="0.00"
            name="totalRent"
            readonly
            required
          />
          <span class="input-group-text fw-bold text-success">$</span>
        </div>
      </div>

        <button class="btn btn-primary w-100 fw-semibold">
          Submit
        </button>
      </form>
      </div>
    </div>
    </div>
  </div>
</div>





